<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AtmoStation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h1 class="mt-2">Monitor</h1>
                    <hr class="mt-0 mb-4">
                    <a href="/sensors/">Get sensors</a><br/>
                    <a href="/exports/">Export data</a><br/>
                    <a href="/sensor_category/create/">Create sensor category</a><br/>
                    <a href="/sensor/create/">Create sensor</a><br/>
                    <a href="/snapshot/create/">Create snapshot</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>